<h1>Surveys#show</h1>
<p>Find me in app/views/surveys/show.html.erb</p>

<%= render partial: 'shared/multi_choice_question', collection: @survey.multi_choices %>
<%= render partial: 'shared/single_choice_question',
  collection: @survey.single_choices %>
<%= render partial: 'shared/number_range_question', collection: @survey.number_ranges %>

<%= link_to "Add question", new_survey_question_path(@survey.id) %>
<input type='hidden' name='survey_id' value="<%= @survey.id %>">